* text=auto
*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.ini text eol=lf
*.uproject text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.obj text eol=lf
*.uasset binary
*.umap binary
*.wav binary
*.png binary
